.headline{
    color: #4E56A4;
    padding-bottom: 40px;
    font-size: xxx-large;
    line-height: initial;
    font-weight: 400;

}
.featureRow, .featureRow2{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 100%;
    padding: 40px;
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
}

.featureHeader{
   
    font-family: 'Quicksand', sans-serif;
    color: #4E56A4;
    text-align: left;


}

h1{
    text-align: center;
}

.featurePic{
    width: 100%;
}

.kioskanimation{
    width: 100%;
    float: left;
    margin-top: -100px;
}

.row{
    padding-left: 10%;
    padding-right: 10%;
}

.featureImageLeft, .featureDetails{
    flex: 1;
    padding: 20px;
}
.detailRow{
    padding: 10px;
}

.featureImageLeft{
    min-width: 300px;
    max-width: 500px;
}
@media only screen and (max-width: 600px) {
    .container{
        padding: 0;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .kioskanimation{
        margin-top:0px;
    }
    .featureRow2{
        flex-wrap: wrap-reverse;
    }
    .featureImageLeft, .featureDetails{
        padding: 5px;
    }
    
}

