.container{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
}


.subheader{
    font-size: xx-large;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    color: #4E56A4; 
    margin-bottom: 20px;
    line-height: 35px;
}
.article{
    flex: 4;
    padding-top: 20px;
    width: 100%;

}

.featured{
    flex: 1;
    padding-top: 20px;
    padding-left: 40px;
    text-align: right;


}
.featuredHeader{
    text-align: left;
}
.details{ display: flex;
padding-top: 20px;
padding-bottom: 20px;
align-items: center;
font-size: small;
color: #757575;

}
.authorImg{ 
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin: 0px;
    margin-right: 10px;
}
.heroImg{
    img{
        width: 100%;
    }
    width: 100%;}
.mainEvent{ display: flex;
flex-wrap: wrap}
.featuredItem{
    }
.featuredImg{ display: block}
.featuredText{ 
    text-align: left;
    padding-left: 20px;
    color: #4e4e4e;
    width: 100%;
}

.form{
    background-color: white;
    display: block;
    padding-top: 10px;
    min-width: 300px;
   
    width: 100%;
   }
   .row{
       width: 100%;
       
   }
   .buttonRow{
       width: 100%;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .label{
       font-size: small;
   }
   .input, .textarea{
       background-color: #eaeaea;
       border: 0;
       padding: 10px;
       font-family: 'Lato', sans-serif;
       width: 100%;
       
   }
   
   .textarea{
       height: 100%;
       height: 200px;
   }
   .hidden{
    display: none;
}
   .submit{
       border: 1px solid #fff;
       color: #fff;
       background-color: #C32B5C;
       border-radius: 41px;
       height: 60px;
       display: flex;
       padding: 7px;
       justify-content: center;
       align-items: center;
       text-transform: capitalize;
       margin-top: 5px;
       width: 250px;
       margin-right: 20px;
       cursor: pointer;
       text-decoration: none;
   
     }

     .learnmore{
        border: 1px solid #C32B5C;
        border-radius: 21px;
        height: 30px;
        display: flex;
        padding: 10px !important;
        justify-content: center;
        align-items: center;
        color: #C32B5C;
        text-transform: capitalize !important;
       
        font-size: small;
        text-decoration: none;
        white-space: nowrap;
        width: 120px;
        cursor: pointer;
        margin-right: 10px;
     }
     .learnmore:hover{
        background-color: #C32B5C;
    color: white;
        border: 1px solid #C32B5C;
    }

    .viewmore:hover{
        background-color: white;
    color: #C32B5C;
        border: 1px solid #C32B5C;
    }

    .viewmore{
        margin-right: 15px;
        border-radius: 21px;
        height: 40px;
        display: flex;
        padding: 10px !important;
        justify-content: center;
        align-items: center;
        text-transform: capitalize !important;
        margin-top: 5px;
        margin-bottom: 45px;
        font-size: small;
        text-decoration: none;
        white-space: nowrap;
        min-width: 255px;
        cursor: pointer;
        font-size: large;
width: 100%;

        background-color: #C32B5C;
    color: white;
        border: 1px solid #C32B5C;
     }
    .buttonHolder{
        width: 400px;
        display: flex;
    }

    .row{
        display: flex;
       flex-wrap: wrap;
        background-color: #f1f1f1;
        margin-top: 60px;
        margin-bottom: 40px;
        margin-right: 30px;
        
    }
    .rowImage{
        min-width: 300px;
        //height: 200px;
        padding: 3px;
        flex: 1;

    }
    .rowDetails
    {
        flex: 3;
        min-width: 300px;
        padding: 20px;
    }
    .rowHeader{
        color: #c32b5c;
    font-size: x-large;
    padding-bottom: 10px;
    }

    .rowImage > img {
        padding: 5px;
        margin: 0;
        width: 100%;
        height: 100%;
        min-width: 200px;
    }

    .left{
        flex: 1;
        padding: 5px;
        min-width: 300px;
    }
    .right{
        flex: 1;
        padding-left: 30px;
        padding-right: 30px;
        min-width: 300px;
        max-height: 430px;
    }

    .video{
        width: 100%;
        height: 100%;
        box-shadow: 0px 1px 5px 3px #0000002b;
    }
    .midHeader{
        font-size: xx-large;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    color: #4E56A4; 
    margin-bottom: 50px;
    line-height: 35px;
    padding-top: 40px;
    text-align: center;
    }

    .testimonials{
display: flex;
flex-wrap: wrap;
margin-bottom: 50px;
    }
    .testSection{
flex: 1;
min-width: 300px;

    }
    .personName{
        margin-top: 15px;
font-weight: 600;
    }
    .personTitle{
font-size: small;
    }
    .personPic{
        padding: 10px;
        float: left;
width: 150px;
height: 150px;
border-radius: 75px;
    }
    .quote{
        font-size: medium;
        padding-right: 10px;
    }

    .featureImg{
        width: 150px;
    }

    .featuresList{
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
    }
    .feature > h3{
        color: #4E56A4;
        text-align: left;
        font-weight: 400;
        margin-bottom: 10px;
        font-family: 'Quicksand'
    }
    .feature{
        flex: 1;
        text-align: center;
        padding: 30px;
    }
    .feature > ul > li {
        margin-bottom: 5px;
        text-align: left;
        margin: 12px;
        margin-left: -2px;
    }

    .secondaryContent{
        padding-right: 30px;
    }
    .demo{
        margin-top: 50px;
            border: 1px solid #fff;
            color: #fff;
            background-color: #c32b5c;
            border-radius: 41px;
            height: 60px;
            display: flex;
            padding: 7px;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
           margin-bottom: 30px;
            width: 250px;
            margin-right: 20px;
            text-decoration: none;
            cursor: pointer;
        
    }
    
    .demo:hover {
        background-color: #972247;
        color: #fff;
        border: 1px solid #fff;
      }


      

      .blogPost{
          padding-left: 2%;
          padding-right: 2%;
      }

     P > img{
        padding-left: 0px;
        padding-right: 0px;
      }

    .header{
          text-align: left !important;
          margin: 0px;
          font-weight: 600;
      }

      .description{
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
          text-align: left !important;
          font-weight: 200;
          font-size: x-large;
      }
     h3{
        font-family: Quicksand,sans-serif;
        color: #3a3a3a9e;
        font-size: large;
     }

      blockquote{
          font-size: x-large;
          font-weight: 600;
          font-style: italic;
          color: #c32b5c;
          border-left: 1px solid;
          padding-left: 20px;
      }

      .buttonholder{
          display: flex;
          padding-bottom: 20px;
      }

      .authorName{
          font-size: large;
          margin-left: 10px;
      }
      .authorTitle{
        font-size: small;
        margin-left: 10px;
        margin-top: 3px;

      }
      .authorImage{
width: 40px;
margin: 0px;
border-radius: 40px;
      }
      .authorHolder{
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          margin-top:10px;
      }


      .sideBar{
        flex: 1 1;
        margin-top: 150px;
        padding: 10px;
        flex-wrap: wrap;
        padding-left: 10%;
    }

      .blogPreview{
        background-color: #edede9;
        width: 350px;
        margin-top: 35px;
        margin-bottom: 15px;
        box-shadow: #00000029 -1px 2px 4px 1px;
      }

      .previewImg{
          height: 250px;
          width: 100%;
          margin: 0;
      }

      .previewAuthorImage{
          width: 30px;
          margin: 0px;
          border-radius: 100px;
      }
      .previewAuthorBlock{
          display: flex;
          align-items: center;
          margin-top: 10px;
      }

      .previewInfo{
          padding: 10px;
      }

      .previewTitle{
          font-size: medium;
          font-family: 'Quicksand', sans-serif;
    color: #4E56A4; 
    font-weight: 700;
      }
      .previewAuthorName{
          font-size: small;
          margin-left: 10px;
      }

      .previewDescription{
          font-size: small;
      }

      .previewlearnmore{
        border: 1px solid #C32B5C;
        border-radius: 21px;
        height: 25px;
        display: flex;
        padding: 10px !important;
        justify-content: center;
        align-items: center;
        color: #C32B5C;
        text-transform: capitalize !important;
        font-size: small;
        text-decoration: none;
        white-space: nowrap;
        width: 80px;
        cursor: pointer;
        float: right;
        margin-right: 10px;
        margin-top: -25px;
     }
     .previewlearnmore:hover{
        background-color: #C32B5C;
    color: white;
        border: 1px solid #C32B5C;
    }

    .blogblock{
        color: hsla(0, 0%, 0%, 0.8);;
        text-decoration: none;
    }

    .bodyText > h2{
       text-align: left;
    }
    

    @media only screen and (max-width: 600px) {
        .sideBar{
          
            padding-left: 0%;
            margin-top: 0px;
        }
    

        .blogPreview{
            width: 100%;
        }
    }

 .heroImageHidden{
     opacity: 0;
     position: absolute;
     left: -1500px;
     top: -1500px;
 }