.container{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
}

.sadguy{
    width: 300px;
}
.holder{
    text-align: center;
    width: 100%;
}