.container{
    margin-top: -25px;
    width: 100%;
    padding: 40px;
    height: 400px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    min-height: 600px;
    height: 100%;
    justify-content: center;
    padding-left: 9%;
    padding-right: 9%;
    background-size: cover;
    background-position: left;
    padding-bottom: 60px;
    border: solid 1px #8080801c;
    flex-wrap: wrap;
}
.form{
 background-color: white;
 display: block;
 padding: 50px;
 min-width: 300px;

 width: 100%;
}
.row{
    width: 100%;
}
.buttonRow{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label{
    font-size: small;
}
.input, .textarea{
    background-color: #eaeaea;
    border: 0;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    
}

.textarea{
    height: 100%;
    height: 200px;
}

.submit{
    border: 1px solid #fff;
    color: #fff;
    background-color: #C32B5C;
    border-radius: 41px;
    height: 60px;
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin-top: 5px;
    width: 250px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;

  }

.left{
    flex: 1;
    display: flex;
    align-items: center;
}
.right{
    flex: 1;
    padding-top: 0px;
    padding-bottom: 100px;
}

.midwidth{
    width: 50%;
}
.secondaryHeader{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.washout{
    opacity: 0.4;
    width: 100%;
}
.hidden{
    display: none;
}
@media only screen and (max-width: 600px) {
    .right{
        display: none;
    }
    .midwidth{
        width: 100%;
    }
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .form{
        padding: 0px;
    }

}

.headline{
    color: #4E56A4;
   
    font-size: xxx-large;
    line-height: initial;
    font-weight: 400;
}
.demoSurvey{
width: 100%;
border: none;
height: 100%;
border: 13px solid #c32b5c;
}

.surveyheader{
    font-weight: 400;
    text-align: center;
    font-size: medium;
    margin: 5px;
}