.container{
    width: 100%;
    padding: 40px;
    height: 400px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    height: 600px;
    justify-content: center;
    background-image: url('../../../static/backgrounds/testguy.png');
    background-size: cover;
    background-position: left;
    padding-bottom: 60px;
    border: solid 1px #8080801c;
}
.leftHolder{
    flex: 1 1;
    padding-left: 9%;
    padding-right: 0%;
    padding-top: 2%;
}
.rightHolder{
    flex: 1;

}
.headline{
color: #4E56A4;
padding-bottom: 40px;
font-size: xxx-large;
line-height: initial;
}
.kiosk{
    width: 75%;
    height: 75%;
}

.details{
    color: #757575;
    font-size: x-large;
    padding-bottom: 30px;
}

.detailIcons{
    display: flex;
    color: #757575;
    flex-wrap: wrap;
}
.detailRow{
    flex: 1;
}
.detailItem{
    flex: 1;
    padding: 10px;

}

.purple{
    color: #4E56A4;
    padding-right: 20px;  
}

.smallkiosk{
    width: 50px;
}

.tryit{
    border: 1px solid #C32B5C;
    border-radius: 41px;
    height: 60px;
    display: flex;
    padding: 7px !important;
    justify-content: center;
    align-items: center;
    color:  #C32B5C;
    text-transform: capitalize !important;
    margin-top: 5px;
    width: 150px !important;
    min-width: 100px;
    text-decoration: none;

  }

  .demo{
    border: 1px solid #fff;
    color: #fff !important;
    background-color: #C32B5C;
    border-radius: 41px;
    height: 60px;
    display: flex;
    padding: 7px !important;
    justify-content: center;
    align-items: center;
    text-transform: capitalize !important;
    margin-top: 5px;
    width: 250px !important;
    margin-right: 20px;
    text-decoration: none;

  }

  .buttonHolder{
      display: flex;
      padding-top: 20px;
  }

  .bigplay{
      font-size: 20pt;
      border: 1px solid #ffffff73;
      color:white;
      background-color:black;
      background-color: #989898;
      border-radius: 40px;
      padding: 20px;
      padding-left: 24px;
  }

  .imageHolder{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }
  .playvideo{
      font-size: small;
      color: #C32B5C;
  }