.container{
    margin-top: 75px;
    width: 100%;
    padding: 40px;
    height: 400px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    min-height: 600px;
    height: 100%;
    justify-content: center;
    background-image: url('../../../static/backgrounds/testguy.png');
    background-size: cover;
    background-position: left;
    padding-bottom: 60px;
    border: solid 1px #8080801c;
    flex-wrap: wrap;
}
.leftHolder{
    flex: 1 1;
    padding-left: 9%;
    padding-right: 0%;
    padding-top: 2%;
}
.responsiveVideo{
    display: none;
}

.rightHolder{
    flex: 1;

}
.headline{
color: #4E56A4;
padding-bottom: 40px;
font-size: xxx-large;
line-height: initial;
}
.kiosk{
    width: 75%;
    height: 75%;
}

.details{
    color: #757575;
    font-size: x-large;
    padding-bottom: 30px;
}

.detailIcons{
    display: flex;
    color: #757575;
    flex-wrap: wrap;
}
.detailRow{
    flex: 1;
}
.detailItem{
    flex: 1;
    padding: 10px;

}

.purple{
    color: #4E56A4;
    padding-right: 20px;  
}

.smallkiosk{
    width: 50px;
}

.tryit{
    border: 1px solid #C32B5C;
    border-radius: 41px;
    height: 60px;
    display: flex;
    padding: 7px ;
    justify-content: center;
    align-items: center;
    color:  #C32B5C;
    text-transform: capitalize ;
    margin-top: 5px;
    width: 150px;
    cursor: pointer;

    min-width: 100px;
    text-decoration: none;

  }

  .demo{
    border: 1px solid #fff;
    color: #fff;
    background-color: #C32B5C;
    border-radius: 41px;
    height: 60px;
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin-top: 5px;
    width: 250px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;

  }

  .buttonHolder{
      display: flex;
      padding-top: 20px;
      flex-wrap: wrap;
  }

  .bigplay{
      font-size: 20pt;
      border: 1px solid #ffffff73;
      color:white;
      background-color:black;
      background-color: #989898;
      border-radius: 40px;
      padding: 20px;
      padding-left: 24px;
      cursor: pointer;
  }

  .imageHolder{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }
  .playvideo{
      font-size: small;
      color: #C32B5C;
  }

  @media only screen and (max-width: 600px) {
    .container{
        flex-direction: row-reverse;

    }
    .leftHolder{
        min-width: 100%;
    }
    .rightHolder{
        display: none;
    }
    .detailRow{
        min-width: 200px;
    }
    .headline{
        font-size: xx-large;
    }
    .demo, .tryit{
        width: 100%;
        margin-right: 0px;
    }
    .responsiveVideo{
        display: block;
        margin-bottom: 40px;
        width: 100%;
        box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    }
  }

  @media only screen and (max-width: 750px) {
   
    .rightHolder{
        display: none;
    }
    .leftHolder{
        padding-left: 0px;
    }

  }

  .demo:hover{
    color: white;
    background-color: #972247;
    border: 1px solid #C32B5C;
}
.tryit:hover{
    background-color: #C32B5C;
color: white;
    border: 1px solid #C32B5C;
}

.close{
    z-index: 9999;
    color: white;
    position: fixed;
    top: 30px;
    left: 30px; 
    font-size: xx-large;
    cursor: pointer;
}