header{
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0px;
    z-index: 998;
    border-bottom: 1px solid #edede9;
}

.topnav {
    overflow: hidden;
    display: flex;
    font-family: 'Lato', sans-serif;
    padding: 10px;
   height: 75px;
}
 .banner{
  background-color: #C32B5C;
  color: white;
  padding: 10px;
 }

  
.link{
    float: left;
    display: block;
    color: #C32B5C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase; 
}

  .link a:hover {
    background-color: #ddd3;
    color: #4E56A4;
  }
  
  .link a.active {
    background-color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .banner{display: none}
    .topnav a:not(:first-child) {display: none;}
    .buttonHolder, .signin{ display: none !important;}
    .topnav a.icon {
      float: right;
      display: block;
      position: absolute;
    right: 0px;
    }
  }
  .hidden{
      display: none;
  }
  .show{
      display: block;
  }

  .logo{
      width: 100%;
      max-width: 150px;
      min-width: 150px;
margin:0;
  }

  .signin{
    border: 1px solid #C32B5C;
    border-radius: 41px;
    height: 40px;
    display: flex;
    padding: 7px !important;
    justify-content: center;
    align-items: center;
    text-transform: capitalize !important;
    margin-top: 5px;
    text-decoration: none;
    width: 100px !important;
    min-width: 100px;
    color: #C32B5C;
  }
  .signin:visited{
    color: #C32B5C;
  }

  .signin:hover{
    background-color: #C32B5C !important;
color: white !important;
    border: 1px solid #C32B5C !important;
}

  .demo{
    border: 1px solid #fff;
    text-decoration: none;

    color: #fff !important;
    background-color: #C32B5C;
    border-radius: 41px;
    height: 40px;
    display: flex;
    padding: 7px !important;
    justify-content: center;
    align-items: center;
    text-transform: capitalize !important;
    margin-top: 5px;
    width: 200px !important;
    margin-left: 20px;
  }

  .demo:hover{
    color: white !important;
    background-color: #972247 !important;
    border: 1px solid #C32B5C !important;
}

  .buttonHolder{
    flex: 1 1;
    justify-content: flex-end;
    
    display: flex;

  }

  .floatNav{
    background-color: white;
    /* position: absolute; */
    height: 300px;
    width: 300px;
    padding: 15px;
    border-radius: 1px;
    border: 1px solid #80808069;
    box-shadow: 0px 2px 4px 0px #000000a6;
} 
  .responsiveNavInner{
    background-color: #f1f0f0;
    width: 100%;
    display: flex;
    z-index: 9999;
    flex-wrap: wrap;
    box-shadow: 1px 13px 10px 2px #000000a8;
}

  .responsiveNavInner > a{
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
    text-transform: uppercase;
}

.responsiveNavInner > a:hover{
  background-color: #ffffffa3;
}

.bannerText{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
